name: Unit Tests

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Run unit tests in nrf_2.4.0 Docker container
        run: |
          docker run --rm \
          --user "$(id -u):$(id -g)" \
          -v "$GITHUB_WORKSPACE:/workspace" \
          -w /workspace \
          nrf_2.4.0:2.4.0 \
          bash -lc '
            set -euo pipefail
            trap "rm -rf twister-out" EXIT
            source /ncs/zephyr/zephyr-env.sh
            west twister -T tests/unit
          '
